$accent: #D22020;
%h1{
    font-size: 56px;
    line-height: 72px;
    color: #01163E;
    font-weight: 600;
}
%h2{
    font-size: 48px;
    line-height: 62px;
    color: #212529;
    font-weight: 600;
}
%h3{
    font-size: 40px;
    line-height: 52px;
    color: #212529;
    font-weight: 600;
}
%h4{
    font-size: 32px;
    line-height: 41px;
    color: #212529;
    font-weight: 600;
}
%h5{
    font-size: 26px;
    line-height: 33px;
    color: #212529;
    font-weight: 600;
}
%button{
    background-color: $accent;
    border-radius: 50px;
    border:none;
    color:#fff;
    cursor: pointer;
    transition: all .3s;
    &:hover{
        background-color:rgb(184, 28, 28);
    }
}

%button-transparent{
    background-color: transparent;
    border: 1px solid $accent;
    text-transform: uppercase;
    color:$accent;
    border-radius: 56px;
    cursor: pointer;
    transition: all .3s;
    &:hover{
        background-color: $accent;
        color:#fff;
    }
}