@import "./libs";
@import "./reset";
@import "./vars";
@import "./global";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
*{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
}















@import "./media";
