.start{
    min-height: 100vh;
    background-size: contain;
    background-position: center;
}

.header{
    &__slogan{
        text-align-last: left;
        max-width: 210px;
        margin-top: 41px;
    }
    &__social{
        position: absolute;
        bottom: 32px;
        right: 32px;
    }
    &__social-item{
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        margin-left: 32px;
        text-decoration: none;
        color:#343A40;
        padding-left: 32px;
        &::before{
            content:'';
            width: 24px;
            height: 24px;
            position: absolute;
            left: 0;
        }
    }
    &__social-item--whatsapp::before{
        background-image: url("../../assets/icons/whatsapp.svg");
    }
    &__social-item--telegram::before{
        background-image: url("../../assets/icons/tg.svg");
    }
}

.arrow-down{
    cursor: pointer;
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 21px;
    height: 21px;
    background-image: url("../../assets/arrow-down.svg");
}

@import "../../styles/media";